@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    height: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.page{
    align-content: center;
}

body{
    background:linear-gradient(gray,rgb(172, 169, 169));
    width: 83.333vw;
    height: 120vh;
}


.rectangle-3{
    background-color: white;
    top: 10.417vw;
    left: 10vh;
    width: 72.917vw;
    height: 84vh;
    position: absolute;
    z-index: -1;
}
.logo{
    background-color: white;
    top: 12.143vw;
    left: 17.3vh;
    width: 10.208vw;
    height: 4vh;
    position: absolute;
    z-index: 1;

 }

a{
    text-decoration: none;
    color: black;
}

.linea{
    top: 15.104vw;
    left: 114.0vh;
    width: 4.167vw;
    height: 0.2vh;
    position: absolute;
    z-index: 1;
}

.comp{
    background-color: white;
    font-size: 1.3vmax;
    top: 12.76vw;
    left: 84vh;
    width: 11.979vw;
    height: 4.1vh;
    position: absolute;
    z-index: 1;
}

.sldo{
    font-size: 1.3vmax;
    top: 12.76vw;
    left: 112.5vh;
    width: 6.875vw;
    height: 4.1vh;
    position: absolute;
    z-index: 1;
}

.search{
    top: 13.125vw;
    left: 128.4vh;
    width: 1.406vw;
    height: 2.7vh;
    position: absolute;
    z-index: 1;
}

.cart{
    top: 13.125vw;
    left: 138.4vh;
    width: 3.5vh;
    height: 3.2vh;
    position: absolute;
    z-index: 1;
}

.targeta{
    top: 16.771vw;
    left: 227px;
    width: 46.042vw;
    height: 49.7vh;
    position: absolute;
    z-index: 1;
}

.rectangle-2{
    top: 44.115vw;
    left: 118vh;
    width: 8.333;
    height: 11.4vh;
    position: relative;
    z-index: 1;
}

.logo3{
    top: 44.625vw;
    left: 119.5vh;
    width: 6.719vw;
    height: 2.9vh;
    position: absolute;
    z-index: 1;
}

.Compra{
    font-size: 1.6;
    top: 46.76vw;
    left: 121.5vh;
    width: 5.781vw;
    height: 3.6vh;
    position: absolute;
    z-index: 1;
}

.rectangle-1{
    top: 10.4vw;
    left: 145vh;
    width: 6.2vw;
    height: 84.1vh;
    position: absolute;
    z-index: 1;

}



.up{
    top: 13.5vw;
    left: 150.3vh;
    width: 1.25vw;
    height: 1.4vh;
    position: absolute;
    z-index: 1;
}

.down{
    top: 47.271vw;
    left: 150.3vh;
    width: 1.25vw;
    height: 1.4vh;
    position: absolute;
    z-index: 1;
}

.cant{
    font-size: 1.2vmax;
    color: white;
    top: 19.115vw;
    left: 146.1vh;
    width: 4.375vw;
    height: 2.7vh;
    position: absolute;
    z-index: 1;
}

.num04{
    color: rgb(151, 150, 150);
    font-size: 1.4vmax;
    top: 26.406vw;
    left: 148.8vh;
    width: 1.198vw;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.num05{
    color: rgb(252, 250, 250);
    font-size: 1.4vmax;
    top: 31.406vw;
    left: 148.8vh;
    width: 1.198vw;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.num06{
    color: rgb(151, 150, 150);
    font-size: 1.4vmax;
    top: 36.406vw;
    left: 148.8vh;
    width: 1.198vw;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.footer{
    font-size: 1.6vmax;
    top: 44.844vw;
    left: 15.8vh;
    width: 37.292vw;
    height: 5.5vh;
    position: absolute;
    z-index: 1;
}

.footer2{
    font-size: 1.3vmax;
    top: 48.125vw;
    left: 15.7vh;
    width: 7.24vw;
    height: 3.7vh;
    position: absolute;
    z-index: 1;
}


