@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    height: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.page{
    align-content: center;
}

body{
    background:linear-gradient(gray,rgb(172, 169, 169));
    width: 83.333vw;
    height: 120vh;
}


.rectangle-3{
    background-color: white;
    top: 10.417vw;
    left: 10vh;
    width: auto;
    height: 83vh;
    position: absolute;
    z-index: -1;
}
.logo{
    background-color: white;
    top: 12.143vw;
    left: 17.3vh;
    width: 10.208vw;
    height: 4vh;
    position: absolute;
    z-index: 1;

 }

a{
    text-decoration: none;
    color: black;
}

.linea{
    top: 15.104vw;
    left: 87.0vh;
    width: auto;
    height: 0.2vh;
    position: absolute;
    z-index: 1;
}

.comp{
    background-color: white;
    font-size: 2.5vmin;
    top: 12.76vw;
    left: 84vh;
    width: auto;
    height: 4.1vh;
    position: absolute;
    z-index: 1;
}

.sldo{
    font-size: 2.5vmin;
    top: 12.76vw;
    left: 112.5vh;
    width: auto;
    height: 4.1vh;
    position: absolute;
    z-index: 1;
}

.search{
    top: 13.125vw;
    left: 128.4vh;
    width: auto;
    height: 2.7vh;
    position: absolute;
    z-index: 1;
}

.cart{
    top: 13.125vw;
    left: 138.4vh;
    width: auto;
    height: 3.2vh;
    position: absolute;
    z-index: 1;
}

.targeta{
    top: 16.771vw;
    left: 17vw;
    width: auto;
    height: 48.7vh;
    position: absolute;
    z-index: 1;
}

.rectangle-2{
    top: 44.115vw;
    left: 118vh;
    width: auto;
    height: 11.4vh;
    position: absolute;
    z-index: 1;
}

.logo3{
    top: 44.625vw;
    left: 119.5vh;
    width: auto;
    height: 2.9vh;
    position: absolute;
    z-index: 1;
}

.Compra{
    font-size: 1.2vmax;
    top: 46.76vw;
    left: 121.5vh;
    width: auto;
    height: 3.6vh;
    position: relative;
    z-index: 1;
}

.rectangle-1{
    top: 10.4vw;
    left: 145vh;
    width: auto;
    height: 83.1vh;
    position: absolute;
    z-index: 1;

}



.up{
    top: 13.5vw;
    left: 150.3vh;
    width: auto;
    height: 1.4vh;
    position: absolute;
    z-index: 1;
}

.down{
    top: 47.271vw;
    left: 150.3vh;
    width: auto;
    height: 1.4vh;
    position: absolute;
    z-index: 1;
}

.cant{
    font-size: 1.2vmax;
    color: white;
    top: 19.115vw;
    left: 146.1vh;
    width: auto;
    height: 2.7vh;
    position: absolute;
    z-index: 1;
}

.num04{
    color: rgb(151, 150, 150);
    font-size: 1.4vmax;
    top: 26.406vw;
    left: 148.8vh;
    width: auto;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.num05{
    color: rgb(252, 250, 250);
    font-size: 1.4vmax;
    top: 31.406vw;
    left: 148.8vh;
    width: auto;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.num06{
    color: rgb(151, 150, 150);
    font-size: 1.4vmax;
    top: 36.406vw;
    left: 148.8vh;
    width: auto;
    height: 18.7vh;
    position: absolute;
    z-index: 1;
}

.footer{
    font-size: 4vmin;
    top: 44.844vw;
    left: 15.8vh;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}

.footer2{
    font-size: 2.2vmin;
    top: 48.125vw;
    left: 15.7vh;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}

